/* FILEPATH: /C:/laragon/www/websekolahrabbani/resources/css/app.css */

/* Global styles */
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.dynamic {
    width: 100%;
    height: auto;
    max-width: 400px;
}

/* Header styles */
header {
    /* width: 1200px; */
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: black !important;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 1rem;
}

nav a {
    /* color: #940b92;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.25rem; */
}

nav a:hover {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, #5653ed, #db00ff);
    border-image-slice: 1;
    /* width: 100%; */
}

/* Main content styles */
.container {
    padding: 1rem;
}

main {
    background-color: none;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.carousel-caption {
    color: black;
    right: 58%;
    text-align: center;
    left: auto;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  font-size: 75px;
  text-shadow: 4px 4px #624F8F;
}

.carousel-inner {
    position: relative;
}

.banner {
    width: 100%;
    height: auto;
    max-width: 100%;
    filter: brightness(0.4);
}

.cloud {
    top: 40%;
    position: absolute;
    animation: moveclouds 15s linear infinite;
}

.bg-kb {
    background-color: #FCB415;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
}

.bg-sd {
    background-color: #704996;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
}

.bg-tk {
    background-color: #E21387;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
}

.bg-smp {
    background-color: #3152A4;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
}


.jenjang-program {
    background-image: linear-gradient(#FFF, #EEDDFF);
}